{% extends "base.njk" %}
{% block content %}
<article>
  <h2>{{ title }}</h2>
  <p><small>Due: {{ due_date | fmt }}</small></p>
  {% if image %}
  <img src="{{ image }}" alt="{{ title }}">
  {% endif %}
  <div>{{ content | safe }}</div>
</article>
{% endblock %}
